section.home
  .home__wrapper
    .home__about
      h1.title.title--huge.home__title !{home.title} <small>!{home.profession}</small>
      p.home__desc #{home.desc}
      a.button.button--arrow.home__portfolio-link(href=home.portfolio.link) #{home.portfolio.text}
  .home__slider
    .swiper-container.home__slider-container
      .swiper-wrapper.home__slider-wrapper
        each slide, index in home.slides
          .swiper-slide.home__slide
            +picture(`/images/models/${slide.id}`,`${slide.id}-${index + 1}`, "home__slide-img", slide.format, `${slide.name} ${index + 1}`)
    .swiper-pagination.home__slider-pagination