section.models
  h1.title.title--huge.models__title #{models.title}
  +breadcrumbs(models.breadcrumbs, "models")
  ul.models__list
    each model in works.list
      li.models__item
        a.models__link(href=model.href aria-label=model.aria.label)
          h3.models__subtitle #{model.title}
          img.models__img(src=`images/${model.name}.png` alt=model.alt width=320 height=400)
