section.works
  h1.title.title--huge.works__title !{works.title}
  p.works__desc #{works.desc}
  a.button.button--arrow.works__more(href=works.more.href) #{works.more.text}
  .swiper-container.works__slider
    ul.swiper-wrapper.works__slider-list
      each work, index in works.list
        - let imgPath = `/images/models/${work.id}`
        li.swiper-slide.works__slide
          a.works__link(href=`/models/${work.id}.html` aria-label=`Go to ${work.name} model page`)
            h2.works__name #{work.name}
            +picture(imgPath,`${work.id}-1`,"works__img","png",`Model ${work.name} 1`)
  ul.works__slider-controls
    each control in works.controls
      li.works__slider-control
        button.works__slider-button(class=`works__slider-button--${control.navigation}` type="button") #{control.text}