extends ../../common/layout

block vars
  -
    const data = {
      href: `models/${chair.id}.html`,
      main: false,
      title: `${chair.title} Models - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${chair.title} model`,
      keywords: `${chair.title}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/${chair.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(chair)
