extends ../../common/layout

block vars
  -
    const data = {
      href: `models/${elfWarrior.id}.html`,
      main: false,
      title: `${elfWarrior.title} Models - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${elfWarrior.title} model`,
      keywords: `${elfWarrior.title}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/${elfWarrior.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(elfWarrior)
