extends ../../common/layout

block vars
  -
    const data = {
      href: `models/${foolsIdol.id}.html`,
      main: false,
      title: `${foolsIdol.title} Models - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${foolsIdol.title} model`,
      keywords: `${foolsIdol.title}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/${foolsIdol.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(foolsIdol)
