extends ../../common/layout

block vars
  -
    const data = {
      href: `models/${heli.id}.html`,
      main: false,
      title: `${heli.name} Models - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${heli.name} model`,
      keywords: `${heli.name}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/${heli.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(heli)
