extends ../../common/layout

block vars
  -
    const data = {
      href: `models/${lowPoly.id}.html`,
      main: false,
      title: `${lowPoly.name} Models - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${lowPoly.name} model`,
      keywords: `${lowPoly.name}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/${lowPoly.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(lowPoly)
