extends ../../common/layout

block vars
  -
    const data = {
      href: `models/${revolver.id}.html`,
      main: false,
      title: `${revolver.name} Models - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${revolver.name} model`,
      keywords: `${revolver.name}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/${revolver.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(revolver)
