extends ../../common/layout

block vars
  -
    const data = {
      href: `models/${tribalBeast.id}.html`,
      main: false,
      title: `${tribalBeast.title} Models - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${tribalBeast.title} model`,
      keywords: `${tribalBeast.title}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/${tribalBeast.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(tribalBeast)
