extends ../../../common/layout

block vars
  -
    const data = {
      href: `models/3d/${monster.id}.html`,
      main: false,
      title: `${monster.name} Model - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${monster.name} model`,
      keywords: `${monster.name}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/models/3d/${monster.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(monster)
