extends ../../../common/layout

block vars
  -
    const data = {
      href: `portfolio/concept-art/${intersection.id}.html`,
      main: false,
      title: `${intersection.name} Model - Yervand Ayrapetyan`,
      description: `Yervand Ayrapetyan's ${intersection.name} model`,
      keywords: `${intersection.name}, 3D Model, Yervand Ayrapetyan`,
      url: `http://ayrapetyan.art/portfolio/concept-art/${intersection.id}.html`,
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  +model(intersection)
