//- Mixins

//- Breadcrumbs
mixin breadcrumbs(breadcrumbs)
  nav.breadcrumbs
    h2.title.breadcrumbs__title.visually-hidden Breadcrumb navigation
    ul.breadcrumbs__list
      each breadcrumb in breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href=breadcrumb.href) #{breadcrumb.name}

//- Model
mixin model(model)
  section.model
    h1.title.title--huge.model__title #{model.name}
    +breadcrumbs(model.breadcrumbs)
    .model__wrapper
      p.model__text.model__text--main #{model.text}
      a.model__link.model__link--main(href=`/images/models/${model.id}/${model.id}-1.png` target="_blank")
        img.model__image(src=`/images/models/${model.id}/${model.id}-1.png` width=320 height=320 alt=`${model.name} Model`)
      .model__blocks
        each block, index in model.blocks
          .model__block
            p.model__text #{block.text}
            - let imageSrc = `/images/models/${model.id}/${model.id}-${index + 2}.png`
            a.model__link(href=imageSrc target="_blank")
              img.model__image(src=imageSrc width=320 height=320 alt=`${model.name} Model ${index + 2}`)